section {
  display: flex;
  background-color: #003366;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

#pokemonContainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

