<div class="wrapContainer">
  <div class="nav">
    <div class="subNav">
      <p>Pokédex Gen 1</p>
      <img
        (click)="closePokemonDetails()"
        id="closeButton"
        src="../../../assets/img/close.png"
        alt="close"
      />
    </div>
    <form class="searchForm">
      <input
        id="searchInput"
        type="text"
        [(ngModel)]="searchQuery"
        name="searchQuery"
        placeholder="Search Pokemon..."
      />
    </form>
  </div>
  <section>
    <div style="display: flex; width: 100%">
      <div id="cardFilter"></div>
      <div id="pokemonContainer"></div>
    </div>
    <div id="pokemonDetailsContainer"></div>
    <div id="mobileScreen">
      <div>
        <img
          id="rotateDeviceImage"
          src="../pokedex/assets/img/rotate_device.gif"
          alt="rotate_device"
        />
      </div>
      <div>
        <p style="color: white">
          Um den Pokedex nutzen zu können, bitte das Gerät drehen.
        </p>
      </div>
    </div>
    <div class="footer">
      <span
        >2024 © Powered by
        <a href="https://pokeapi.co/" target="_blank">PokéAPI</a></span
      >
    </div>
  </section>
</div>
