<section>
    <app-nav-bar (closeButtonClicked)="closePokemonDetails()"></app-nav-bar>
    <div style="display: flex; width: 100%">
      <div id="cardFilter"></div>
      <div id="pokemonContainer"></div>
    </div>
    <div id="pokemonDetailsContainer"></div>
    <div id="mobileScreen">
      <div>
        <img id="rotateDeviceImage" src="../pokedex/assets/img/rotate_device.gif" alt="rotate_device" />
      </div>
      <div>
        <p style="color: white;">
          Um den Pokedex nutzen zu können, bitte das Gerät drehen.
        </p>
      </div>
    </div>
  </section>