* {
  margin: 0;
  font-family: "poppinsRegular";
}

@font-face {
  font-family: "poppinsRegular";
  font-display: swap;
  font-style: normal;
  src: url("./app/fonts/Poppins-Regular.ttf");
}

@mixin containerStyle($display: flex) {
  display: $display;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  min-height: 100vh;
  width: 100%;
  margin-top: 100px;
}

#cardFilter {
  position: sticky;
  top: 150px;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 500px;
  padding-left: 10px;
  label {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    color: white;
  }
  label:hover {
    cursor: pointer;
  }
  input[type="checkbox"] {
    margin-left: 10px;
  }
}

#pokemonContainer {
  @include containerStyle();
  flex-wrap: wrap;
  position: relative;
  gap: 10px;
  width: 100%;
  min-height: 500px;
  padding: 50px 10px 10px 10px;
}

.pokemonCard {
  @include containerStyle();
  flex-direction: column;
  width: 100px;
  border-radius: 10px;
  transition: transform ease-in-out;
  p {
    font-size: 10px;
    border-radius: 5px;
    width: 90px;
    text-align: center;
    color: white;
  }
}

.pokemonCard:hover {
  transform-origin: center;
  cursor: pointer;
  transform: scale(1.3) perspective(150px) rotateX(calc(10deg * var(--angle-y)))
    rotateY(calc(10deg * var(--angle-x)));
  img {
    filter: drop-shadow(5px 5px 3px rgb(0, 0, 0));
    transform: scale(1.3) perspective(150px)
      rotateX(calc(10deg * var(--angle-y)))
      rotateY(calc(10deg * var(--angle-x)))
      translate(calc(3px * var(--angle-x)), calc(3px * var(--angle-y)));
  }
  p {
    color: black;
  }
}

.pokemonCard img {
  height: 96px;
  width: 96px;
  transition: transform ease-in-out;
  border-radius: 5px;
}

.mobilePokemonCard {
  @include containerStyle();
  flex-direction: column;
  width: 100px;
  border-radius: 10px;
  transition: transform 0.5s ease-in-out;
  p {
    font-size: 10px;
    border-radius: 5px;
    width: 90px;
    text-align: center;
    color: white;
  }
  &:active,
  &:focus {
    transform: scale(1.3);
    p {
      color: black;
    }
  }
}

.mobilePokemonCard img {
  height: 96px;
  width: 96px;
  transition: transform ease-in-out;
  border-radius: 5px;
}

#pokemonDetailsContainer {
  @include containerStyle(none);
  position: fixed;
  top: 0px;
  left: 0px;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.pokemonDetails {
  @include containerStyle(none);
  flex-direction: column;
  height: auto;
  width: 50%;
  min-width: 350px;
  padding: 0;
  border-radius: 20px;
  gap: 10px;
  img {
    filter: drop-shadow(5px 5px 3px rgb(0, 0, 0));
    height: auto;
    width: 20vw;
    min-width: 150px;
    min-height: 150px;
  }
}

.elementContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 95%;
}

.prevButton,
.nextButton {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: transparent;
  height: 48px;
  width: 48px;
  border: none;
  padding: 0;
  outline: none;
  cursor: pointer;
}

.prevButton {
  background-image: url('../src/assets/img/arrow-left.png');
}

.nextButton {
  background-image: url('../src/assets/img/arrow-right.png');
}

.chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 400px;
  width: 100%;
  background-color: rgba(31, 31, 31, 0.9);
  border-radius: 20px;
  color: white;
  gap: 10px;
}

.statsContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.parentStatsDiv {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.statsInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 25px;
  width: 50%;
  padding: 10px;
}

.parentBarDiv {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 25px;
  width: 50%;
  padding: 10px;
}

.childBarDiv {
  background-color: red;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  height: 5px;
}

#mobileScreen {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: black;
  z-index: 3;
}

.show {
  display: flex !important;
}

.normal {
  img {
    filter: drop-shadow(4px 4px 5px rgb(168, 167, 122));
  }
  box-shadow: 0px 0px 10px rgba(168, 167, 122, 0.5);
}

.normal:hover {
  background-color: rgba(168, 167, 122, 0.5);
}

.fairy {
  img {
    filter: drop-shadow(4px 4px 5px rgb(255, 192, 203));
  }
  box-shadow: 0px 0px 10px rgba(255, 192, 203, 0.5);
}

.fairy:hover {
  background-color: rgba(255, 192, 203, 0.5);
}

.fire {
  img {
    filter: drop-shadow(4px 4px 5px rgb(238, 129, 48));
  }
  box-shadow: 0px 0px 10px rgba(238, 129, 48, 0.5);
}

.fire:hover {
  background-color: rgba(238, 129, 48, 0.5);
}

.water {
  img {
    filter: drop-shadow(4px 4px 5px rgb(99, 144, 240));
  }
  box-shadow: 0px 0px 10px rgba(99, 144, 240, 0.5);
}

.water:hover {
  background-color: rgba(99, 144, 240, 0.5);
}

.electric {
  img {
    filter: drop-shadow(4px 4px 5px rgb(247, 208, 44));
  }
  box-shadow: 0px 0px 10px rgba(247, 208, 44, 0.5);
}

.electric:hover {
  background-color: rgba(247, 208, 44, 0.5);
}

.grass {
  img {
    filter: drop-shadow(4px 4px 5px rgb(122, 199, 76));
  }
  box-shadow: 0px 0px 10px rgba(122, 199, 76, 0.5);
}

.grass:hover {
  background-color: rgba(122, 199, 76, 0.5);
}

.flying {
  img {
    filter: drop-shadow(4px 4px 5px rgb(169, 143, 243));
  }
  box-shadow: 0px 0px 10px rgba(169, 143, 243, 0.5);
}

.flying:hover {
  background-color: rgba(169, 143, 243, 0.5);
}

.bug {
  img {
    filter: drop-shadow(4px 4px 5px rgb(168, 184, 32));
  }
  box-shadow: 0px 0px 10px rgba(168, 184, 32, 0.5);
}

.bug:hover {
  background-color: rgba(168, 184, 32, 0.5);
}

.poison {
  img {
    filter: drop-shadow(4px 4px 5px rgb(160, 64, 160));
  }
  box-shadow: 0px 0px 10px rgba(160, 64, 160, 0.5);
}

.poison:hover {
  background-color: rgba(160, 64, 160, 0.5);
}

.rock {
  img {
    filter: drop-shadow(4px 4px 5px rgb(182, 161, 54));
  }
  box-shadow: 0px 0px 10px rgba(182, 161, 54, 0.5);
}

.rock:hover {
  background-color: rgba(182, 161, 54, 0.5);
}

.ground {
  img {
    filter: drop-shadow(4px 4px 5px rgb(224, 192, 104));
  }
  box-shadow: 0px 0px 10px rgba(224, 192, 104, 0.5);
}

.ground:hover {
  background-color: rgba(224, 192, 104, 0.5);
}

.fighting {
  img {
    filter: drop-shadow(4px 4px 5px rgb(192, 48, 40));
  }
  box-shadow: 0px 0px 10px rgba(192, 48, 40, 0.5);
}

.fighting:hover {
  background-color: rgba(192, 48, 40, 0.5);
}

.ice {
  img {
    filter: drop-shadow(4px 4px 5px rgb(152, 216, 216));
  }
  box-shadow: 0px 0px 10px rgba(152, 216, 216, 0.5);
}

.ice:hover {
  background-color: rgba(152, 216, 216, 0.5);
}

.psychic {
  img {
    filter: drop-shadow(4px 4px 5px rgb(249, 85, 135));
  }
  box-shadow: 0px 0px 10px rgba(249, 85, 135, 0.5);
}

.psychic:hover {
  background-color: rgba(249, 85, 135, 0.5);
}

.ghost {
  img {
    filter: drop-shadow(4px 4px 5px rgb(123, 108, 204));
  }
  box-shadow: 0px 0px 10px rgba(123, 108, 204, 0.5);
}

.ghost:hover {
  background-color: rgba(123, 108, 204, 0.5);
}

.dragon {
  img {
    filter: drop-shadow(4px 4px 5px rgb(112, 56, 248));
  }
  box-shadow: 0px 0px 10px rgba(112, 56, 248, 0.5);
}

.dragon:hover {
  background-color: rgba(112, 56, 248, 0.5);
}

.normalD {
  box-shadow: 0px 0px 10px rgba(168, 167, 122, 0.5);
  background-color: rgba(168, 167, 122, 0.3);
  canvas {
    background-color: rgba(255, 255, 255, 0.6);
  }
}

.fairyD {
  box-shadow: 0px 0px 10px rgba(255, 192, 203, 0.5);
  background-color: rgba(1255, 192, 203, 0.3);
  canvas {
    background-color: rgba(255, 255, 255, 0.6);
  }
}

.fireD {
  box-shadow: 0px 0px 10px rgba(238, 129, 48, 0.5);
  background-color: rgba(238, 129, 48, 0.3);
  canvas {
    background-color: rgba(255, 255, 255, 0.6);
  }
}

.waterD {
  box-shadow: 0px 0px 10px rgba(99, 144, 240, 0.5);
  background-color: rgba(99, 144, 240, 0.3);
  canvas {
    background-color: rgba(255, 255, 255, 0.6);
  }
}

.electricD {
  box-shadow: 0px 0px 10px rgba(247, 208, 44, 0.5);
  background-color: rgba(247, 208, 44, 0.3);
  canvas {
    background-color: rgba(255, 255, 255, 0.6);
  }
}

.grassD {
  box-shadow: 0px 0px 10px rgba(122, 199, 76, 0.5);
  background-color: rgba(122, 199, 76, 0.3);
  canvas {
    background-color: rgba(255, 255, 255, 0.6);
  }
}

.flyingD {
  box-shadow: 0px 0px 10px rgba(169, 143, 243, 0.5);
  background-color: rgba(169, 143, 243, 0.3);
  canvas {
    background-color: rgba(255, 255, 255, 0.6);
  }
}

.bugD {
  box-shadow: 0px 0px 10px rgba(168, 184, 32, 0.5);
  background-color: rgba(168, 184, 32, 0.3);
  canvas {
    background-color: rgba(255, 255, 255, 0.6);
  }
}

.poisonD {
  box-shadow: 0px 0px 10px rgba(160, 64, 160, 0.5);
  background-color: rgba(160, 64, 160, 0.3);
  canvas {
    background-color: rgba(255, 255, 255, 0.6);
  }
}

.rockD {
  box-shadow: 0px 0px 10px rgba(182, 161, 54, 0.5);
  background-color: rgba(182, 161, 54, 0.3);
  canvas {
    background-color: rgba(255, 255, 255, 0.6);
  }
}

.groundD {
  box-shadow: 0px 0px 10px rgba(224, 192, 104, 0.5);
  background-color: rgba(224, 192, 104, 0.3);
  canvas {
    background-color: rgba(255, 255, 255, 0.6);
  }
}

.fightingD {
  box-shadow: 0px 0px 10px rgba(192, 48, 40, 0.5);
  background-color: rgba(192, 48, 40, 0.3);
  canvas {
    background-color: rgba(255, 255, 255, 0.6);
  }
}

.iceD {
  box-shadow: 0px 0px 10px rgba(152, 216, 216, 0.5);
  background-color: rgba(152, 216, 216, 0.3);
  canvas {
    background-color: rgba(255, 255, 255, 0.6);
  }
}

.psychicD {
  box-shadow: 0px 0px 10px rgba(249, 85, 135, 0.5);
  background-color: rgba(249, 85, 135, 0.3);
  canvas {
    background-color: rgba(255, 255, 255, 0.6);
  }
}

.ghostD {
  box-shadow: 0px 0px 10px rgba(123, 108, 204, 0.5);
  background-color: rgba(123, 108, 204, 0.3);
  canvas {
    background-color: rgba(255, 255, 255, 0.6);
  }
}

.dragonD {
  box-shadow: 0px 0px 10px rgba(112, 56, 248, 0.5);
  background-color: rgba(112, 56, 248, 0.3);
  canvas {
    background-color: rgba(255, 255, 255, 0.6);
  }
}

@media screen and (max-width: 936px) {

  .mobileHover {
    transition: transform 0.5s;
    &:active,
    &:focus {
      transform: scale(1.3);
    }
  }

  .mobileHover:hover {
    img {
      transition: transform 0.5s;
      &:active,
      &:focus {
        transform: scale(1.3);
      }
    }
  }
}

@media screen and (max-width: 715px) {

  .parentStatsDiv {
    display: flex;
    flex-direction: column;
    width: 95%;
  }

  .statsContainer {
    display: flex;
    justify-content: center;
  }

  .statsInfo {
    padding: unset;
    width: 100%;
  }
  
  .parentBarDiv {
    padding: unset;
    width: 100%;
    align-items: center;
  }

}

@media screen and (max-width: 350px) {

.pokemonDetails {
  min-width: 100%;
}

}

@media screen and (max-height: 760px) {
#pokemonDetailsContainer {
  justify-content: flex-end;
}
}